.accordion {
  &__wrapper {
    padding-bottom: 132px;
    margin-top: 18px;
    @include mdq(xs-md) {
      padding-bottom: 60px;
      margin-top: 30px;
    }
  }

  &__head {
    @include regular;
    margin-bottom: 80px;
    color: $color-dark-blue-2;
    font-size: 45px;
    line-height: 55px;
    list-style: 74px;
    @include mdq(xs-md) {
      margin-bottom: 30px;
      font-size: 26px;
      line-height: 36px;
    }
    @include mdq(lg) {
      font-size: 30px;
      line-height: 42px;
    }
    @media only screen and (min-width: 1024px) and (max-width: 1439px) {
      font-size: 40px;
      line-height: 50px;
    }
    @media only screen and (min-width: 1440px) and (max-width: 1679px) {
      font-size: 40px;
      line-height: 50px;
    }
  }

  &__content {
    &:not(:last-child) {
      margin-bottom: 32px;
      @include mdq(xs-md) {
        margin-bottom: 12px;
      }
    }
  }

  &__header {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(#a9aaac, 0.5);
    @include mdq(xs-md) {
      padding-bottom: 12px;
    }

    &--title {
      @include cotextregular;
      [dir='rtl'] & {
        @include regularar;
      }
      @include transition(color 0.5s ease);
      color: rgba(#211e1f, 0.7);
      font-size: 28px;
      line-height: 32px;
      @include mdq(xs-md) {
        font-size: 16px;
        line-height: 26px;
      }
      @include mdq(lg) {
        font-size: 18px;
        line-height: 28px;
      }
      @media only screen and (min-width: 1024px) and (max-width: 1439px) {
        font-size: 18px;
        line-height: 25px;
      }
      @media only screen and (min-width: 1440px) and (max-width: 1679px) {
        font-size: 24px;
        line-height: 32px;
      }
      @media only screen and (min-width: 1680px) and (max-width: 1679px) {
        font-size: 24px;
        line-height: 32px;
      }
      @media only screen and (min-width: 1680px) and (max-width: 1800px) {
        font-size: 24px;
        line-height: 32px;
      }

      &.show {
        color: $color-light-blue;
      }
    }

    &--icon {
      position: relative;
      width: 29px;
      height: 29px;
      @include mdq(xs-md) {
        width: 20px;
        height: 20px;
      }
      @include mdq(xl) {
        width: 20px;
        height: 20px;
      }
      &.show {
        span {
          &:first-child {
            transform: translate(-50%, -50%) rotate(0deg);
          }
        }
      }

      span {
        @include transition(transform 0.5s ease);
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 29px;
        height: 3px;
        background-color: $color-light-blue;
        border-radius: 10px;
        transform: translate(-50%, -50%);
        @include mdq(xs-md) {
          width: 16px;
          height: 2px;
        }

        &:first-child {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }
  }

  &__desc {
    padding-bottom: 32px;
    margin-top: 32px;
    @include mdq(xs-md) {
      height: 100% !important;
      padding-bottom: 12px;
      margin-top: 12px;
    }

    &,
    p {
      @include verdanaregular;
      [dir='rtl'] & {
        @include regularar;
      }
      color: rgba(#211e1f, 0.7);
      font-size: 18px;
      line-height: 27px;
      @include mdq(xs-md) {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}
