.button {
  $root: button;

  &:hover {
    .#{$root}__custom-icon {
      opacity: 0.7;

      [dir='ltr'] & {
        transform: translate(10px, 0);
      }

      [dir='rtl'] & {
        transform: translate(-10px, 0);
      }
    }
  }

  &__custom {
    display: flex;
    flex-flow: row;
    align-items: center;
    outline: 0;
    border: 0;
    appearance: none;
    &--yellow {
      .#{$root}__custom-text {
        color: $color-light-yellow;
      }

      .#{$root}__custom-icon {
        svg {
          path,
          clipPath {
            color: $color-light-yellow;
            fill: $color-light-yellow;
          }
        }
      }

      .#{$root}__custom-line {
        background-color: $color-light-yellow;
      }
    }

    &--light-blue {
      .#{$root}__custom-text {
        color: $color-light-blue;
      }

      .#{$root}__custom-icon {
        svg {
          path,
          clipPath {
            color: $color-light-blue;
            fill: $color-light-blue;
          }
        }
      }

      .#{$root}__custom-line {
        background-color: $color-light-blue;
      }
    }
  }

  &__custom-line {
    @include flipProperty('margin-right', 'margin-left', 40px);
    display: block;
    height: 1px;
    flex: 1;
    background-color: $color-light-yellow;
    @include mdq(xs-md) {
      @include flipProperty('margin-right', 'margin-left', 16px);
    }

    @media only screen and (min-width: 1024px) and (max-width: 1439px) {
      @include flipProperty('margin-right', 'margin-left', 20px);
    }

    @media only screen and (min-width: 1440px) and (max-width: 1679px) {
      @include flipProperty('margin-right', 'margin-left', 30px);
    }
  }

  &__custom-text {
    color: $color-default-white;
    line-height: 49px;
    @include mdq(xs-md) {
      line-height: 17px;
    }
    @include mdq(lg) {
      line-height: 30px;
    }

    @media only screen and (min-width: 1024px) and (max-width: 1439px) {
      line-height: 30px;
    }

    @media only screen and (min-width: 1440px) and (max-width: 1679px) {
      line-height: 30px;
    }

    [dir='ltr'] & {
      text-transform: uppercase;
      @include cotextregular;
    }

    [dir='rtl'] & {
      font-weight: bold !important;
      @include regularar;
    }

    &--21 {
      [dir='ltr'] & {
        font-size: 21px !important;
        line-height: 31px !important;
        @include mdq(xs-md) {
          font-size: 15px !important;
          line-height: 25px !important;
        }
        @include mdq(lg-xl) {
          font-size: 18px !important;
          line-height: 28px !important;
        }
      }

      [dir='rtl'] & {
        font-size: 21px !important;
        line-height: 31px !important;
        @include mdq(xs-md) {
          font-size: 15px !important;
          line-height: 25px !important;
        }

        @include mdq(lg-xl) {
          font-size: 18px !important;
          line-height: 28px !important;
        }
      }
    }
  }

  &__custom-icon {
    @include transition(transform 0.5s ease, opacity 0.5s ease);
    @include flipProperty('margin-left', 'margin-right', 20px);
    position: relative;
    opacity: 1;
    transform: translate(0, 0);
    @include mdq(xs-md) {
      @include flipProperty('margin-left', 'margin-right', 10px);
    }

    svg,
    img {
      [dir='ltr'] & {
        transform: rotate(0deg);
      }

      [dir='rtl'] & {
        transform: rotate(180deg);
      }
    }

    &--39 {
      svg,
      img {
        width: 39px;
        height: 39px;
        @include mdq(xs-md) {
          width: 35px;
          height: 35px;
        }
        @include mdq(lg) {
          width: 30px;
          height: 30px;
        }
        @media only screen and (min-width: 1024px) and (max-width: 1439px) {
          width: 30px;
          height: 30px;
        }
        @media only screen and (min-width: 1440px) and (max-width: 1679px) {
          width: 30px;
          height: 30px;
        }
      }
    }

    &--40 {
      svg,
      img {
        width: 40px;
        height: 40px;
        @include mdq(xs-md) {
          width: 25px;
          height: 25px;
        }
        @include mdq(lg) {
          width: 30px;
          height: 30px;
        }
        @media only screen and (min-width: 1024px) and (max-width: 1439px) {
          width: 30px;
          height: 30px;
        }
        @media only screen and (min-width: 1440px) and (max-width: 1679px) {
          width: 30px;
          height: 30px;
        }
      }
    }

    &--52 {
      svg,
      img {
        width: 49px !important;
        height: 49px !important;
        @include mdq(xs-md) {
          width: 25px !important;
          height: 25px !important;
        }
        @include mdq(lg) {
          width: 32px !important;
          height: 32px !important;
        }
        @include mdq(lg-xl) {
          width: 32px !important;
          height: 32px !important;
        }

        @media only screen and (min-width: 1441px) and (max-width: 1920px) {
          width: 40px !important;
          height: 40px !important;
        }
      }
    }

    &--56 {
      svg,
      img {
        width: 50px;
        height: 50px;
        @include mdq(xs-md) {
          width: 25px;
          height: 25px;
        }
        @include mdq(lg-xl) {
          width: 32px;
          height: 32px;
        }
        @media only screen and (min-width: 1441px) and (max-width: 1920px) {
          width: 40px;
          height: 40px;
        }
      }
    }

    &--80 {
      svg,
      img {
        width: 80px;
        height: 80px;
        @include mdq(xs-md) {
          width: 30px;
          height: 30px;
        }
        @include mdq(lg) {
          width: 60px;
          height: 60px;
        }
        @media only screen and (min-width: 1024px) and (max-width: 1439px) {
          width: 46px;
          height: 46px;
        }
        @media only screen and (min-width: 1440px) and (max-width: 1679px) {
          width: 46px;
          height: 46px;
        }
      }
    }
  }
}

// .home-about.home-about__wrapper.home-about__wrapper-v2 {
//   span.button__custom-text.button__custom-text--21 {
//     [dir='rtl'] & {
//       flex: 1;
//     }
//   }
// }
