.history-line {
  &__container {
    padding-top: 70px;
    @include mdq(xs-md) {
      padding-top: 20px;
    }
  }

  &__head {
    margin-top: 190px;
    @include mdq(xs-md) {
      margin-top: 60px;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
  }

  &__list {
    flex: 0 0 50%;
    //background-size: 1.5px 100%;

    &:first-child {
      .history-line__title {
        &::after {
          @include flipProperty('right', 'left', -6.5px);
          position: absolute;
          bottom: -6.5px;
          width: 13px;
          height: 13px;
          background-color: $color-light-blue;
          border-radius: 100%;
          content: '';
        }
      }
      .history-line__box {
        @media only screen and (min-width: 300px) and (max-width: 1023px) {
          padding-top: 50px;
        }
      }
    }

    &:last-child {
      .history-line__title,
      .history-line__desc {
        @include mdq(xs-md) {
          [dir='ltr'] & {
            padding-left: 15px;
          }

          [dir='rtl'] & {
            padding-right: 0;
          }
        }

        [dir='ltr'] & {
          padding-right: 0;
          padding-left: 38px;
          @media screen and (min-width: 300px) and (max-width: 1023px) {
            padding-left: 12px !important;
          }
        }

        [dir='rtl'] & {
          padding-right: 38px;
          padding-left: 0;
          @media screen and (min-width: 300px) and (max-width: 1023px) {
            padding-right: 12px !important;
          }
        }
      }
    }

    &-line {
      position: absolute;
      top: 50%;
      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        top: 49%;
      }
      @media screen and (min-width: 1536px) and (max-width: 1600px) {
        top: 49%;
      }
      // top: 49%;
      left: 50%;
      width: 2px;
      height: calc(100% - 15%) !important;
      @media screen and (min-width: 1440px) and (max-width: 1530px) {
        height: calc(100% - 16%) !important;
      }
      //height: calc(100% - 170px);

      background-image: url('https://luberefapp.s3.eu-central-1.amazonaws.com/dist/img/dashed-line.svg');
      background-position: top right;
      background-repeat: repeat-y;
      background-size: contain;
      transform: translate(-50%, -50%);
      @include mdq(xs) {
        top: 50%;
        height: calc(100% - 23%) !important;
      }
    }
  }

  &__box {
    display: flex;
    flex-flow: column;

    &:not(:last-child) {
      padding-bottom: 175px;
      @include mdq(xs-md) {
        padding-bottom: 75px;
      }
    }
  }

  &__title {
    @include bold;
    position: relative;
    padding-bottom: 22px;
    border-bottom: 1.5px solid $color-light-blue;
    margin-bottom: 24px;
    color: $color-light-yellow;
    font-size: 43px;
    line-height: 60px;
    @include mdq(xs-md) {
      padding-bottom: 12px;
      margin-bottom: 14px;
      font-size: 33px;
      line-height: 50px;
      [dir='rtl'] & {
        text-align: right;
      }
    }
  }

  &__desc {
    @include verdanaregular;
    color: $color-default-white;
    font-size: 18px;
    line-height: 28px;
    @include mdq(xs-md) {
      font-size: 13px;
      line-height: 23px;
    }
    @include mdq(lg-xl) {
      font-size: 15px;
      line-height: 25px;
    }

    [dir='ltr'] & {
      padding-right: 10px;
      @media screen and (min-width: 300px) and (max-width: 1023px) {
        padding-right: 5px !important;
      }
    }

    [dir='rtl'] & {
      padding-left: 10px;
      @media screen and (min-width: 300px) and (max-width: 1023px) {
        padding-left: 5px !important;
      }
      @include regularar;
    }
  }

  &__text {
    @include verdanaregular;
    padding-right: 7.5%;
    [dir='rtl'] & {
      padding-right: 0;
      padding-left: 7.5%;
      @include mdq(xs-md) {
        padding-left: 0;
        padding-right: 0;
      }
    }
    [dir='ltr'] & {
      @include mdq(xs-md) {
        padding-left: 0;
        padding-right: 0;
      }
    }
    margin-top: 17px;
    color: $color-default-white;
    font-size: 20px;
    line-height: 30px;
    [dir='rtl'] & {
      @include regularar;
    }
    @include mdq(xs-md) {
      padding-right: 0;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 16px;
      line-height: 26px;
    }
    @include mdq(lg-xl) {
      font-size: 16px;
      line-height: 26px;
    }
  }
}
.history-line__container {
  padding-top: 0px !important;
}
.history-line__list:last-child {
  .history-line__box:last-of-type {
    padding-bottom: 100px;
  }
}
