.our-products {
  $root: our-products;
  padding-top: 132px;
  padding-bottom: 145px;
  background-color: $color-default-white;
  @include mdq(xs-md) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include mdq(lg) {
    padding-bottom: 120px;
  }

  &__list {
    display: flex;
    // min-height: 500px;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    @include mdq(xs-md) {
      flex-flow: row wrap;
      padding: 0 24px;
      margin-top: 50px;
    }
    @include mdq(lg-xl) {
      margin-top: 60px;
    }
  }

  &__content {
    position: relative;
    @include mdq(xs-md) {
      height: 300px;
    }
  }

  &__box {
    @include transition(transform 0.5s ease, flex 0.5s ease, opacity 0.5s ease);
    position: relative;
    z-index: 10;
    width: 37.42%;
    flex: 0 0 37.42%;

    @media only screen and (min-width: 1024px) and (max-width: 1279px) {
      flex: 0 0 42.42%;
    }
    opacity: 1;
    @include mdq(xs-md) {
      @include transition(transform 0.9s ease, opacity 0.9s ease);
      width: 100%;
      flex: 0 0 100%;

      .#{$root}__info {
        top: 50%;
        display: flex;
        height: 100%;
        flex-flow: column;
        justify-content: center;
        transform: translateY(-50%);
      }

      .#{$root}__desc {
        max-height: 500px;
        opacity: 1;
        visibility: visible;
      }
    }

    &:not(:last-child) {
      @include flipProperty('margin-right', 'margin-left', 40px);
      @include mdq(xs-md) {
        @include flipProperty('margin-right', 'margin-left', 0);
        margin-bottom: 40px;
      }
    }

    &:hover {
      z-index: 20;
      opacity: 1;
      transform: scale(1.1);
      @include mdq(xs-md) {
        transform: scale(1);
        @include transition(transform 0.9s ease, opacity 0.9s ease);
        width: 100%;
        flex: 0 0 100%;
      }

      .#{$root}__info {
        top: 50%;
        @media only screen and (min-width: 1024px) and (max-width: 1279px) {
          top: 41%;
        }
        @media screen and (min-width: 1280px) and (max-width: 1680px) {
          top: 48%;
        }
        transform: translate(0, -50%);
        @include mdq(xs-md) {
          transform: translateY(-71px);
        }
        @media only screen and (min-width: 320px) and (max-width: 1023px) {
          transform: translate(0, -50%);
        }
      }

      .#{$root}__desc {
        max-height: 500px;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__img {
    display: flex;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__info {
    @include transition(transform 0.5s ease-in-out, bottom 0.5s ease-in-out, top 0.5s ease-in-out);
    position: absolute;
    //top: 72%;
    top: 74%;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 100px;
    // transform: translate(0, -76px);
    transform: translate(0, -50%);
    @include mdq(xs-md) {
      @include transition(transform 0.9s ease-in-out, bottom 0.9s ease-in-out, top 0.9s ease-in-out);
      padding: 0 25px;
      transform: translate(0, -30px);
    }
    @include mdq(lg) {
      padding: 0 30px;
      transform: translate(0, -30px);
    }
    @media only screen and (min-width: 1024px) and (max-width: 1439px) {
      top: 65%;
      padding: 0 80px;
      transform: translate(0, -10px);
    }
    @media only screen and (min-width: 1440px) and (max-width: 1679px) {
      top: 68%;
      padding: 0 80px;
      transform: translate(0, -10px);
    }
    @media only screen and (min-width: 1680px) and (max-width: 1800px) {
      top: 69%;
      padding: 0 80px;
    }
  }

  &__title {
    @include transition(padding-bottom 0.5s ease-in-out);
    max-width: 100%;
    padding-bottom: 30px;
    border-bottom: 4px solid $color-light-yellow;
    @include mdq(xs-md) {
      padding-bottom: 13px !important;
    }
    @include mdq(lg) {
      padding-bottom: 20px;
    }

    &,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @include regular;
      @include transition(font-size 0.5s ease-in-out, line-height 0.5s ease-in-out);
      color: $color-default-white;
      font-size: 50px;
      line-height: 60px;
      @include mdq(xs-md) {
        font-size: 30px;
        line-height: 40px;
      }
      @include mdq(lg) {
        font-size: 30px;
        line-height: 40px;
      }
      @media only screen and (min-width: 1024px) and (max-width: 1279px) {
        font-size: 27px;
        line-height: 37px;
      }
      @media only screen and (min-width: 1280px) and (max-width: 1439px) {
        font-size: 35px;
        line-height: 45px;
      }
      @media only screen and (min-width: 1440px) and (max-width: 1679px) {
        font-size: 40px;
        line-height: 50px;
      }
    }
  }

  &__desc {
    @include transition(opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, max-height 0.5s ease-in-out);
    position: relative;
    max-height: 0;
    margin-top: 46px;
    opacity: 0;
    visibility: hidden;
    @include mdq(xs-md) {
      margin-top: 15px;
    }
    @include mdq(lg) {
      margin-top: 20px;
    }

    &,
    p {
      @include verdanaregular;
      [dir='rtl'] & {
        @include regularar;
      }
      color: $color-default-white;
      font-size: 19px;
      line-height: 29px;
      @include mdq(xs-md) {
        font-size: 15px;
        line-height: 25px;
      }
      @include mdq(lg-xl) {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }

  &__link {
    padding: 0 6%;
    margin-top: 78px;
    @include mdq(xs-md) {
      padding: 0;
      margin-top: 28px;
    }
    @include mdq(lg) {
      margin-top: 30px;
    }
    @media only screen and (min-width: 1024px) and (max-width: 1439px) {
      margin-top: 60px;
    }
    @media only screen and (min-width: 1440px) and (max-width: 1679px) {
      margin-top: 60px;
    }
  }
}
