@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.zeyn-medium {
  font-family: '29LT Zeyn', sans-serif;
  font-weight: 500;
}
.zeyn-regular {
  font-family: '29LT Zeyn', sans-serif;
  font-weight: normal;
}
.amiri-light {
  font-family: 'Amiri', serif;
  font-weight: 300;
}
.amiri-regular {
  font-family: 'Amiri', serif;
  font-weight: 400;
}
.amiri-medium {
  font-family: 'Amiri', serif;
  font-weight: 500;
}
.amiri-semibold {
  font-family: 'Amiri', serif;
  font-weight: 600;
}
.amiri-bold {
  font-family: 'Amiri', serif;
  font-weight: 700;
}
