/* .container padding reset */
.no-horizontal-padding {
  padding-right: 0;
  padding-left: 0;
}
.formLoaderOs {
  background: rgba(27, 51, 95, 0.6);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 9999;
}

.formLoaderOs img {
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
  position: absolute;
  top: 50%;
  width: 50px;
}

.hideel {
  display: none;
}

.thank-you-message {
  font-size: 1.1vw;
  opacity: 1;
  margin-top: 2.25vw;
  display: none;
  text-align: center;
  font-size: 26px;
  color: white;
}
.thank-you-message-exist {
  display: block !important;
}
.thank-you-message-ar {
  font-size: 1.1vw;
  opacity: 1;
  margin-top: 2.25vw;
  display: none;
  text-align: center;
  font-size: 26px;
  color: white;
}

.form-not-exist {
  display: none !important;
}
.yellow-text {
  color: $color-light-yellow;
}
.blue-text {
  color: $color-light-blue;
}
.dark-blue-text {
  color: $color-dark-blue !important;
}
.dark-blue-2-text {
  color: $color-dark-blue-2;
}
.light-blue-text {
  color: $color-light-blue;
}

.red-text {
  color: $color-light-red;
}

.math-black-text {
  color: $color-math-black;
}
.math-black-text-07 {
  color: rgba(33, 30, 31, 0.7);
}
.yellow-bg {
  background-color: $color-light-yellow;
}
.grey-bg {
  background-color: #f3f4f6;
}
.blue-bg {
  background-color: $color-light-blue;
}
.dark-blue-bg {
  background-color: $color-dark-blue;
}
.math-black-bg {
  background-color: $color-math-black;
}
.coHeadline-font {
  @include regular;
}
.coText-font {
  [dir='ltr'] & {
    @include cotextregular;
  }
  [dir='rtl'] & {
    @include regularar;
  }
}
.Verdana-font {
  [dir='ltr'] & {
    @include verdanaregular;
  }
  [dir='rtl'] & {
    @include regularar;
  }
}
.light-font {
  [dir='ltr'] & {
    @include light;
  }
  [dir='rtl'] & {
    @include lightar;
  }
}

.text-2-lines {
  &,
  p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.text-3-lines {
  &,
  p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.thank-you-message-job {
  font-size: 1.1vw;
  opacity: 1;
  margin-top: 3vw;
  display: none;
  text-align: center;
  font-size: 26px;
  color: black;
}

.thank-you-message-job-ar {
  font-size: 1.1vw;
  opacity: 1;
  margin-top: 3vw;
  display: none;
  text-align: center;
  font-size: 26px;
  color: black;
}
.section-pt {
  padding-top: 145px;
  @include mdq(xs-md) {
    padding-top: 50px;
  }
  @media screen and (min-width: 1023px) {
    padding-top: 10vh;
  }
}
.section-pb {
  padding-bottom: 145px;
  @include mdq(xs-md) {
    padding-bottom: 50px;
  }
  @media screen and (min-width: 1023px) {
    padding-bottom: 13.43vh;
  }
}

// html {
//   font-size: 62.5%;
// }

section {
  transition:
    transform 1s ease-in-out,
    opacity 1s ease-in-out;
}
.transition-speed {
  transition: all 0.4s ease-in-out;
}
.transition-more-speed {
  transition: all 0.2s ease-in-out;
}
.border-radius-15 {
  border-radius: 15px;
  @include mdq(all-desktop) {
    border-radius: 0.78125vw;
  }
}
// fonts
// .corporate-regular {
//   @include CorporateRegular;
// }

// .corporate-bold {
//   @include CorporateBold;
// }
// .corporate-bold-italic {
//   @include CorporateBoldItalic;
// }
// .GESS-unique-light {
//   @include GESSUniqueLight;
// }
// .nice-scrollbar {
//   /* width */
//   &::-webkit-scrollbar {
//     width: 7px;
//   }

//   /* Track */
//   &::-webkit-scrollbar-track {
//     background: transparent;
//   }

//   /* Handle */
//   &::-webkit-scrollbar-thumb {
//     background: #fff;
//   }

//   /* Handle on hover */
//   &::-webkit-scrollbar-thumb:hover {
//     background: #eee5e5;
//   }
// }
.opacity-p-70 {
  p {
    opacity: 0.7;
  }
}
.opacity-p-50 {
  p {
    opacity: 0.5;
  }
}

.font-size-90 {
  font-size: 90px;
  @include mdq(all-mobile) {
    font-size: 35px;
    line-height: 45px;
  }
  @include mdq(all-tablet) {
    font-size: 65px;
    line-height: 75px;
  }
  @include mdq(all-desktop) {
    @include propInVW(font-size, 90);
    line-height: 120%;
  }
}
.font-size-68 {
  font-size: 68px;
  line-height: 78px;
  @include mdq(all-mobile) {
    font-size: 35px;
    line-height: 45px;
  }
  @include mdq(all-tablet) {
    font-size: 44px;
    line-height: 64px;
  }
  @include mdq(all-desktop) {
    @include propInVW(font-size, 68);
    @include propInVW(line-height, 78);
  }
  &.line-height-as-font {
    @include mdq(all-desktop) {
      line-height: 3.54166vw;
    }
  }
}
.font-size-66 {
  font-size: 66px;
  line-height: 76;
  @include mdq(all-mobile) {
    font-size: 35px;
    line-height: 45px;
  }
  @include mdq(all-tablet) {
    font-size: 44px;
    line-height: 64px;
  }
  @include mdq(all-desktop) {
    @include propInVW(font-size, 66);
    @include propInVW(line-height, 76);
  }
  &.line-height-as-font {
    @include mdq(all-desktop) {
      line-height: 3.54166vw;
    }
  }
}
.font-size-64 {
  font-size: 64px;
  line-height: 76px;
  @include mdq(all-mobile) {
    font-size: 25px;
    line-height: 35px;
  }
  @include mdq(all-tablet) {
    font-size: 44px;
    line-height: 64px;
  }
  @include mdq(all-desktop) {
    @include propInVW(font-size, 64);
    @include propInVW(line-height, 76);
  }
  &.line-height-as-font {
    @include mdq(all-desktop) {
      line-height: 3.333vw;
    }
  }
}
.font-size-48 {
  font-size: 48px;
  line-height: 72px;
  @include mdq(all-mobile) {
    font-size: 28px;
    line-height: 38px;
  }
  @include mdq(all-tablet) {
    font-size: 38px;
    line-height: 50px;
  }
  @include mdq(all-desktop) {
    @include propInVW(font-size, 48);
    @include propInVW(line-height, 72);
  }
}
.font-size-46 {
  font-size: 46px;
  line-height: 56px;
  @include mdq(all-mobile) {
    font-size: 28px;
    line-height: 38px;
  }
  @include mdq(all-tablet) {
    font-size: 38px;
    line-height: 50px;
  }
  @include mdq(all-desktop) {
    @include propInVW(font-size, 46);
    @include propInVW(line-height, 56);
  }
}
.font-size-44 {
  font-size: 44px;
  line-height: 54px;
  @include mdq(all-mobile) {
    font-size: 28px;
    line-height: 38px;
  }
  @include mdq(all-tablet) {
    font-size: 38px;
    line-height: 50px;
  }
  @include mdq(all-desktop) {
    @include propInVW(font-size, 44);
    @include propInVW(line-height, 54);
  }
}
.font-size-40 {
  font-size: 40px;
  line-height: 60px;
  @include mdq(all-mobile) {
    font-size: 25px;
    line-height: 35px;
  }
  @include mdq(all-tablet) {
    font-size: 30px;
    line-height: 40px;
  }
  @include mdq(all-desktop) {
    @include propInVW(font-size, 40);
    @include propInVW(line-height, 60);
  }
}
.font-size-42 {
  font-size: 42px;
  line-height: 55px;
  @include mdq(all-mobile) {
    font-size: 25px;
    line-height: 35px;
  }
  @include mdq(all-tablet) {
    font-size: 30px;
    line-height: 40px;
  }
  @include mdq(all-desktop) {
    @include propInVW(font-size, 38);
    @include propInVW(line-height, 48);
  }
}
.font-size-38 {
  font-size: 38px;
  line-height: 45px;

  @include mdq(all-mobile) {
    font-size: 30px;
    line-height: 40px;
  }
  @include mdq(all-desktop) {
    @include propInVW(font-size, 38);

    @include propInVW(line-height, 45);
  }
}
.font-size-35 {
  font-size: 35px;
  line-height: 40px;
  @include mdq(all-mobile) {
    font-size: 22px;
    line-height: 35px;
  }
  @include mdq(all-tablet) {
    font-size: 25px;
    line-height: 35px;
  }
  @include mdq(all-desktop) {
    @include propInVW(font-size, 35);

    @include propInVW(line-height, 40);
  }
}
.font-size-32 {
  font-size: 32px;
  line-height: 40px;
  @include mdq(all-mobile) {
    font-size: 22px;
    line-height: 32px;
  }
  @include mdq(all-tablet) {
    font-size: 25px;
    line-height: 35px;
  }
  @include mdq(all-desktop) {
    @include propInVW(font-size, 32);

    @include propInVW(line-height, 40);
  }
}
.font-size-30 {
  font-size: 30px;
  line-height: 46px;
  @include mdq(all-desktop) {
    @include propInVW(font-size, 30);

    @include propInVW(line-height, 46);
  }
}
.font-size-28 {
  font-size: 28px;
  line-height: 38px;
  @include mdq(all-mobile) {
    font-size: 22px;
    line-height: 32px;
  }
  @include mdq(all-desktop) {
    @include propInVW(font-size, 28);

    @include propInVW(line-height, 38);
  }
}
.font-size-26 {
  font-size: 27px;
  line-height: 37px;
  @include mdq(all-desktop) {
    @include propInVW(font-size, 27);

    @include propInVW(line-height, 37);
  }
}
.font-size-26 {
  font-size: 26px;
  line-height: 36px;
  @include mdq(all-desktop) {
    @include propInVW(font-size, 26);

    @include propInVW(line-height, 36);
  }
}
.font-size-25 {
  font-size: 25px;
  line-height: 35px;
  @include mdq(all-mobile) {
    font-size: 18px;
    line-height: 28px;
  }
  @include mdq(all-desktop) {
    @include propInVW(font-size, 25);
    @include propInVW(line-height, 35);
  }
}
.font-size-24 {
  font-size: 24px;
  line-height: 36px;
  @include mdq(all-mobile) {
    font-size: 16px;
    line-height: 26px;
  }
  @include mdq(all-tablet) {
    font-size: 20px;
    line-height: 30px;
  }
  @include mdq(all-desktop) {
    @include propInVW(font-size, 24);

    @include propInVW(line-height, 36);
  }
  &.line-height-as-font {
    @include mdq(all-desktop) {
      line-height: 1.25vw;
    }
  }
}
.font-size-22 {
  font-size: 22px;
  line-height: 32px;
  @include mdq(all-mobile) {
    font-size: 16px;
    line-height: 26px;
  }
  @include mdq(all-desktop) {
    @include propInVW(font-size, 22);

    @include propInVW(line-height, 32);
  }
  &.line-height-as-font {
    @include mdq(all-desktop) {
      line-height: 1.14583vw !important;
    }
  }
}
.font-size-21 {
  font-size: 21px;
  line-height: 25px;

  @include mdq(all-mobile) {
    font-size: 18px;
    line-height: 28px;
  }
  @include mdq(all-desktop) {
    @include propInVW(font-size, 21);

    @include propInVW(line-height, 25);
  }
}
.font-size-20 {
  font-size: 20px;
  line-height: 30px;

  @include mdq(all-mobile) {
    font-size: 15px;
    line-height: 25px;
  }
  @include mdq(all-desktop) {
    @include propInVW(font-size, 20);
    @include propInVW(line-height, 30);
  }
}
.font-size-18 {
  font-size: 18px;
  line-height: 30px;
  @include mdq(all-mobile) {
    font-size: 15px;
    line-height: 25px;
  }
  @include mdq(all-desktop) {
    @include propInVW(font-size, 18);
    @include propInVW(line-height, 30);
  }
}
.font-size-16 {
  font-size: 16px;
  line-height: 24px;
  @include mdq(all-desktop) {
    @include propInVW(font-size, 16);
    @include propInVW(line-height, 24);
  }
  @include mdq(all-mobile) {
    font-size: 14px;
    line-height: 24px;
  }
}
.font-size-15 {
  font-size: 15px;
  line-height: 25px;
  @include mdq(all-desktop) {
    @include propInVW(font-size, 15);
    @include propInVW(line-height, 25);
  }
}
.font-size-14 {
  font-size: 14px;
  line-height: 24px;
  @include mdq(all-desktop) {
    @include propInVW(font-size, 14);
    @include propInVW(line-height, 24);
  }
}
.font-size-12 {
  font-size: 12px;
  line-height: 22px;
  @include mdq(all-desktop) {
    @include propInVW(font-size, 12);
    @include propInVW(line-height, 22);
  }
  &.line-height-as-font {
    @include mdq(all-desktop) {
      @include propInVW(line-height, 12);
    }
  }
}

.text-1-line {
  &,
  p {
    /*     white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */

    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 1 !important;
    white-space: pre-wrap !important;
  }
}
.text-2-lines {
  &,
  p {
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
}
.text-3-lines {
  &,
  p {
    display: -webkit-box !important;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
}
.text-4-lines {
  &,
  p {
    display: -webkit-box !important;
    -webkit-line-clamp: 4 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
}
.text-default-white {
  color: var(--color-default-white);
}

.text-default-black {
  color: var(--color-default-black);
}

.text-math-black {
  color: var(--color-math-black);
}
.text-math-black2 {
  color: var(--color-math-black2);
}
.text-math-black3 {
  color: var(--color-math-black3);
}

.text-dark-blue {
  color: var(--color-dark-blue);
}

.text-dark-blue-2 {
  color: var(--color-dark-blue-2);
}

.text-light-blue {
  color: var(--color-light-blue);
}
.text-light-blue2 {
  color: var(--color-light-blue2);
}
.text-light-blue3 {
  color: var(--color-light-blue3);
}
.text-light-gray {
  color: var(--color-light-gray);
}
.text-light-yellow {
  color: var(--color-light-yellow);
}
.text-font {
  color: var(--color-font);
}
.text-light-font {
  color: var(--color-light-font);
}
.text-light-font2 {
  color: var(--color-light-font2);
}

.text-green {
  color: var(--color-green);
}
.text-green2 {
  color: var(--color-green2);
}
.text-red {
  color: var(--color-red);
}
.text-pink {
  color: var(--color-pink);
}

.text-grey {
  color: var(--color-grey);
}
.text-grey2 {
  color: var(--color-grey2);
}

.text-purple {
  color: var(--color-purple);
}
.text-orange {
  color: var(--color-orange);
}
.hover-text-yellow {
  &:hover {
    @extend .transition-speed;
    color: var(--color-light-yellow);
  }
}
.hover-text-orange {
  &:hover {
    @extend .transition-speed;
    color: var(--color-orange);
  }
}
.hover-text-white {
  &:hover {
    @extend .transition-speed;
    opacity: 1 !important;

    border-top-color: var(--color-default-white) !important;
    color: var(--color-default-white) !important;
  }
}
.bg-default-white {
  background-color: var(--color-default-white);
}

.bg-default-black {
  background-color: var(--color-default-black);
}

.bg-math-black {
  background-color: var(--color-math-black);
}

.bg-math-black2 {
  background-color: var(--color-math-black2);
}
.bg-math-black3 {
  background-color: var(--color-math-black3);
}

.bg-dark-blue {
  background-color: var(--color-dark-blue);
}

.bg-dark-blue-2 {
  background-color: var(--color-dark-blue-2);
}
.bg-dark-blue-2-opacity {
  background-color: rgba(29, 81, 164, 0.2);
}

.bg-light-blue {
  background-color: var(--color-light-blue);
}
.bg-light-blue2 {
  background-color: var(--color-light-blue2);
}
.bg-light-blue3 {
  background-color: var(--color-light-blue3);
}
.bg-light-gray {
  background-color: var(--color-light-gray);
}
.bg-light-yellow {
  background-color: var(--color-light-yellow);
}
.bg-orange {
  background-color: var(--color-orange);
}

.bg-font {
  background-color: var(--color-font);
}
.bg-light-font {
  background-color: var(--color-light-font);
}
.bg-light-font2 {
  background-color: var(--color-light-font2);
}

.bg-green {
  background-color: var(--color-green);
}
.bg-green2 {
  background-color: var(--color-green2);
}
.bg-red {
  background-color: var(--color-red);
}
.bg-pink {
  background-color: var(--color-pink);
}
.bg-green-grey {
  background-color: rgba(0, 118, 74, 0.1);
}
.bg-green-grey2 {
  background-color: rgba(0, 118, 74, 0.2);
}
.bg-grey {
  background-color: var(--color-grey);
}
.bg-grey2 {
  background-color: var(--color-grey2);
}

.bg-purple {
  background-color: var(--color-purple);
}
.border-light-yellow {
  border-color: var(--color-light-yellow);
}
.border-green {
  border-color: var(--color-green);
}
.opacity-30 {
  opacity: 0.3;
}

.main-title {
  &,
  h1,
  h2,
  h3 {
    @extend .font-size-64;
    // @extend .corporate-bold;
    text-transform: capitalize;
  }
}

.margin-p {
  p {
    &:not(:last-child) {
      margin-bottom: 50px;
      @include mdq(all-desktop) {
        margin-bottom: 2.60416vw;
      }
    }
  }
}
