.main-single-news {
  padding-top: 224px;
  @include mdq(xs-md) {
    padding-top: 150px;
  }
  @include mdq(lg) {
    padding-top: 224px;
  }
  @media only screen and (min-width: 1024px) and (max-width: 1439px) {
    padding-top: 224px;
  }
  @media only screen and (min-width: 1440px) and (max-width: 1679px) {
    padding-top: 224px;
  }
  @media only screen and (min-width: 1680px) and (max-width: 1800px) {
    padding-top: 224px;
  }
}
