.tele-input{
  direction: rtl;
}
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}

.accordion-content.open {
  max-height: 500px; /* Adjust as needed */
}

/* Hide scrollbar by default */
::-webkit-scrollbar {
  width: 0; /* for Chrome, Safari, and Opera */
  height: 0; /* for horizontal scrollbars */
}

::-webkit-scrollbar{
  scrollbar-width: none; /* for Firefox */
  -ms-overflow-style: none;  /* for Internet Explorer and Edge */
}

/* Show scrollbar on hover */
.ak::-webkit-scrollbar {
  width: 4px; /* for Chrome, Safari, and Opera */ /* for horizontal scrollbars */
}


.ak::-webkit-scrollbar-track {
  background-color: #c1c1c1; 
  border-radius: 6px;
}

.ak::-webkit-scrollbar-thumb {
  background-color: #7C32C9;
  border-radius: 6px;
}
@media(max-width:639px) {
  .ak::-webkit-scrollbar {
    width: 0; /* for Chrome, Safari, and Opera */
    height: 0; /* for horizontal scrollbars */
  }
}


.active-tab {
  color: #7C32C9;
  font-family: 'DiodrumArabic';
  font-weight: 600;
}