.digit-input {
  transition: border 0.3s ease-in-out; /* Smooth transition for border changes */
  border: 2px solid transparent;
  direction: ltr !important; /* Default border */
}

.digit-input:focus {
  border: 2px solid #7C32C9; /* Purple border when focused */
  outline: none; /* Remove default focus outline */
}