.header {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 140px;
  border-bottom: 1px solid rgba($color-default-white, 0.5);

  @include mdq(xs-md) {
    position: absolute;
    overflow: hidden;
    height: 140px;
    padding-top: 15px;
    border-bottom: none;

    /* Hack for Safari */
    @media not all and (min-resolution: 0.001dpcm) {
      @supports (-webkit-appearance: none) {
        height: 140px;
      }
    }
  }

  @include mdq(lg-xl) {
    height: 120px;
    border-bottom: 1px solid rgba($color-default-white, 0.5);
  }
  &__wrapper {
    height: 100%;
    @include mdq(xs-md) {
      display: flex;
      width: 100%;
      flex-flow: column;
      justify-content: flex-start;
    }

    .grid {
      height: 100%;
      align-items: center;
      @include mdq(xs-md) {
        // height: 99px;
      }
    }
  }

  &__logo {
    &--link {
      display: block;

      img {
        max-width: 128px;

        @include mdq(xs-md) {
          width: 100px;
          height: 83px;
        }
        @include mdq(lg-xl) {
          max-width: 100px;
        }
      }
    }
  }

  &__shadow {
    &--0 {
      border-bottom: 2px solid rgba($color-dark-blue-2, 0.2);
      @include mdq(xs-md) {
        border-bottom: 2px solid rgba(0, 48, 98, 0.2);
        padding: 10px 0;
      }

      .main-menu {
        &__wrapper {
          &::after {
            background: transparent;
          }
        }

        &__link {
          color: $color-dark-blue-2;
          @include mdq(xs-md) {
            color: $color-default-white;
          }
        }

        &__language {
          &--link {
            color: $color-light-blue;
          }
        }
      }
    }
  }
}

.main-menu {
  &__mobile {
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    @media only screen and (min-width: 1024px) {
      display: none;
    }

    &-item {
      &:not(:last-child) {
        @include flipProperty('margin-right', 'margin-left', 18px);
      }
    }

    &-link {
      img {
        //filter: brightness(0);
      }
    }
  }

  &__wrapper {
    @include mdq(xs-md) {
      display: flex;
      flex-flow: row;
      justify-content: flex-end;
    }

    &::after {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 200px;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.48) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      content: '';
      @include mdq(xs-md) {
        display: none;
      }
    }
  }

  &__list {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    @include mdq(xs-md) {
      @include transition(
        opacity 0.5s ease,
        visibility 0.5s ease,
        transform 0.5s ease
      );
      position: fixed;
      top: 0;
      right: 0;
      width: 296px;
      height: 100vh;
      flex-flow: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 31px 24px 31px 29px;
      background: rgb(23, 152, 213);
      background: linear-gradient(
        180deg,
        rgba(23, 152, 213, 1) 11%,
        rgba(12, 101, 157, 1) 84%
      );
      opacity: 0;
      transform: translate(200%, 0);
      visibility: hidden;

      &.is-open {
        opacity: 1;
        transform: translate(0, 0);
        visibility: visible;
      }
    }
  }

  &__item {
    position: relative;
    display: block;
    @include mdq(xs-md) {
      order: 2;
    }

    &:not(:last-child) {
      @include flipProperty('margin-right', 'margin-left', 36px);
      @include mdq(xs-md) {
        margin: 0 0 32px !important;
      }
      @media only screen and (min-width: 1024px) and (max-width: 1279px) {
        @include flipProperty('margin-right', 'margin-left', 20px);
      }
    }

    &::after {
      @include transition(
        bottom 0.8s ease,
        background-color 0.8s ease,
        opacity 0.5s ease
      );
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: transparent;
      border-radius: 4px;
      content: '';
      opacity: 0;
      @include mdq(xs-md) {
        display: none;
      }
    }

    &:hover,
    &.is-active {
      &::after {
        bottom: -12px;
        background-color: $color-light-blue;
        opacity: 1;
      }
    }

    .dropdown-menu__wrapper {
      min-width: 266px;
    }
    &:hover {
      & > .dropdown-menu__wrapper {
        opacity: 1;
        transform: translate(-50%, 0);
        visibility: visible;
        @include mdq(xs-md) {
          opacity: inherit;
          transform: inherit;
          visibility: inherit;
        }
      }

      .main-menu__icon {
        svg {
          path {
            stroke: $color-dark-blue-2;
          }
        }
      }
    }
  }

  &__link {
    @include cotextregular;

    @include transition(opacity 0.5s ease);
    position: relative;
    z-index: 20;
    color: $color-default-white;
    font-size: 18px;
    line-height: 25px;
    opacity: 1;
    [dir='rtl'] & {
      @include regularar;
    }
    @include mdq(xs-md) {
      display: flex;
      flex-flow: row;
      align-items: center;
      font-size: 18px;
      line-height: 22px;

      &:hover {
        color: $color-dark-blue-2;
      }

      &.is-show {
        color: $color-dark-blue-2;

        svg {
          transform: rotate(180deg);

          path {
            stroke: $color-dark-blue-2;
          }
        }
      }
    }
    @media only screen and (min-width: 1024px) and (max-width: 1279px) {
      font-size: 14px;
    }
    @media only screen and (min-width: 1280px) and (max-width: 1460px) {
      font-size: 14px;
    }
    @media only screen and (min-width: 1461px) and (max-width: 1697px) {
      font-size: 16px;
      line-height: 26px;
    }

    &:hover {
      opacity: 0.9;
    }
  }

  &__icon {
    display: none;
    margin-left: 12px;
    [dir='rtl'] & {
      margin-left: 0;
      margin-right: 12px;
    }
    @include mdq(xs-md) {
      display: block;
      width: 11px;
      flex: 0 0 11px;
    }

    svg {
      @include transition(transform 0.5s ease);
    }
  }

  &__close {
    @media only screen and (min-width: 1024px) {
      display: none;
    }
  }

  &__language {
    display: flex;
    flex-flow: row;
    align-items: center;
    //margin-top: -8px;
    margin-top: 0;
    @media only screen and (min-width: 1024px) {
      [dir='rtl'] & {
        margin-top: 7px;
      }
    }
    @include mdq(xs-md) {
      width: 100%;
      justify-content: space-between;
      order: 1;
      margin-top: 0;
      margin-bottom: 38px;
    }

    @media only screen and (min-width: 1024px) and (max-width: 1460px) {
      margin-top: 0px;
      [dir='rtl'] & {
        margin-top: 7px;
      }
    }

    @media only screen and (min-width: 1461px) and (max-width: 1697px) {
      margin-top: 0px;
      [dir='rtl'] & {
        margin-top: 7px;
      }
    }

    &--link {
      @include regular;
      @include flipProperty('margin-left', 'margin-right', 24px);
      color: $color-light-yellow;
      font-size: 14px;
      line-height: 16px;
      @include mdq(xs-md) {
        margin: -8px 0 0 !important;
      }

      @media only screen and (min-width: 1024px) and (max-width: 1460px) {
        font-size: 12px;
      }

      @media only screen and (min-width: 1461px) and (max-width: 1697px) {
        font-size: 14px;
        line-height: 26px;
      }
    }

    &--line {
      @include regular;
      display: none;
      margin: 0 11px 0 13px;
      color: $color-default-white;
      font-size: 14px;
      line-height: 16px;
    }
  }
}

.dropdown {
  &-menu {
    &__wrapper {
      @include transition(
        opacity 0.5s ease,
        visibility 0.5s ease,
        max-height 0.5s ease,
        transform 0.5s ease
      );
      position: absolute;
      z-index: 10;
      top: 0;
      left: 50%;
      width: max-content;
      padding-top: 46px;
      opacity: 0;
      transform: translate(-50%, -12px);
      visibility: hidden;
      @include mdq(xs-md) {
        position: relative;
        left: initial;
        max-height: 0;
        padding-top: 0;
        opacity: 0 !important;
        transform: inherit;
        visibility: hidden !important;
      }

      &.is-show {
        max-height: 1000px;
        margin-top: 18px;
        opacity: 1 !important;
        visibility: visible !important;
        @include mdq(xs-md) {
          margin-top: 5px;
        }
      }
    }

    &__list {
      width: 100%;
      height: 100%;
      max-width: 350px;
      padding: 16px;
      background-color: $color-light-blue;
      border-radius: 9px;
      @include mdq(xs-md) {
        width: calc(100% - 30px);
        padding: 0 20px 0 0;
        [dir='ltr'] & {
          padding: 0 0 0 20px;
        }
        background-color: transparent;
        border-radius: 0;
      }
    }

    &__item {
      display: flex;
      flex: 1;
      align-items: center;
      padding: 12px 0;
      border-bottom: 0.5px solid #fff;
      @include mdq(xs-md) {
        padding-bottom: 0;
        border-bottom: none;
        margin-bottom: 14px;
      }

      &:not(:first-child) {
        padding-top: 12px;
        @include mdq(xs-md) {
          padding-top: 0;
        }
      }

      &:last-child {
        border-bottom: 0;
        @include mdq(xs-md) {
          margin-bottom: 0;
        }
      }
    }

    &__link {
      @include cotextregular;
      [dir='rtl'] & {
        @include regularar;
      }
      @include transition(opacity 0.5s ease);
      color: $color-default-white;
      font-size: 18px;
      line-height: 30px;
      opacity: 1;
      @include mdq(xs-md) {
        font-size: 16px;
        line-height: 26px;
      }
      @media only screen and (min-width: 1024px) and (max-width: 1439px) {
        font-size: 14px;
        line-height: 24px;
      }
      @media only screen and (min-width: 1461px) and (max-width: 1697px) {
        font-size: 16px;
        line-height: 26px;
      }

      &:hover {
        opacity: 0.9;
      }

      &.is-active {
        color: $color-dark-blue-2;
      }
    }
  }
}

@media (min-width: 1024px) {
  [dir='rtl'] {
    .home-hero.home-hero__wrapper {
      .xl\:col-span-7 {
        grid-column: span 6 / span 6;
      }
      .xl\:col-span-8 {
        grid-column: span 6 / span 6;
      }

      .home-hero__desc-v2 {
        padding-left: 0;
      }
    }
  }
}
/*
.has_sub_menu {
  @media screen and (max-width: 1023px) {
    display: block;
  }

  .sub-dropdown-menu__wrapper {
    @include flipProperty('right', 'left', auto);
    top: 0;
    padding-top: 0;

    @media screen and (max-width: 1023px) {
      @include flipProperty('left', 'right', 0);
    }
    @media screen and (min-width: 1023px) {
      @include flipProperty('left', 'right', calc(100% + 15px));
    }

    @media screen and (min-width: 1023px) {
      transform: none !important;
    }
    ul {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
  & > .dropdown-menu__link {
    width: 100% !important;
    @media screen and (min-width: 1023px) {
      display: flex;
      align-items: center;
    }
    @media screen and (max-width: 1023px) {
      display: block;
      @include flipProperty('padding-right', 'padding-left', 15px);
    }
  }
  .main-menu__icon {
    transition: 0.5s all ease-in-out;
    svg {
      path {
        stroke: #ffffff !important;
      }
    }
  }
  &:hover {
    .main-menu__icon {
      @media screen and (min-width: 1023px) {
        [dir='ltr'] & {
          transform: rotate(-90deg);
        }
        [dir='rtl'] & {
          transform: rotate(90deg);
        }
      }
    }
  }
}

*/
.dropdown-menu__wrapper {
  overflow: hidden;
}
.has_sub_menu {
  flex-direction: column;

  .sub-dropdown-menu__wrapper {
    @include transition(opacity 0.5s ease, visibility 0.5s ease);
    position: relative;
    padding: 0;
    // transform: rotateX(90deg);
    height: 0;
    @media only screen and (min-width: 1024px) and (max-width: 1279px) {
      margin: auto;
    }
    @media only screen and (min-width: 1280px) and (max-width: 1439px) {
    }
    @media only screen and (min-width: 1440px) and (max-width: 1536px) {
    }
    @media only screen and (min-width: 1536px) and (max-width: 1680px) {
    }
    @media only screen and (min-width: 1440px) and (max-width: 2500px) {
      [dir='rtl'] & {
        width: 90%;
        margin-left: auto;
        margin-right: 0;
      }
      [dir='ltr'] & {
        // left: 40%;
        width: 90%;
        margin-right: auto;
        margin-left: 0;
      }
    }
  }
  & > .dropdown-menu__link {
    width: 100% !important;
    @media screen and (min-width: 1023px) {
      display: flex;
      align-items: center;
    }
    @media screen and (max-width: 1023px) {
      display: block;
      @include flipProperty('padding-right', 'padding-left', 15px);
    }
  }
  .main-menu__icon {
    transition: 0.5s all ease-in-out;
    svg {
      path {
        stroke: #ffffff !important;
      }
    }
  }
  @media screen and (min-width: 1024px) {
    &:hover {
      .main-menu__icon {
        transform: rotate(180deg);
      }
      .sub-dropdown-menu__wrapper {
        transform: 0;
        height: max-content;
      }
    }
  }
}
.rotate0 {
  transform: rotate(0deg) !important;
}
.rotate180 {
  transform: rotate(180deg) !important;
}
.heightToggle {
  transform: 0 !important;
  height: max-content !important;
}
.has_sub_menu {
  [dir='rtl'] & {
    margin-left: 0 !important;
  }
  [dir='ltr'] & {
    margin-right: 0 !important;
  }
}
.sub-dropdown-menu__wrapper ul {
  @media screen and (min-width: 1024px) {
    padding-bottom: 0;
  }
}
.dropdown-menu__wrapper:not(.sub-dropdown-menu__wrapper) {
  @media screen and (min-width: 1023px) {
    overflow: visible;
    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: auto;
      top: 0;
      bottom: -20%;
      background: transparent;
      z-index: -1;
    }
  }
}
.has_sub_menu:not(:last-child) {
  @media screen and (max-width: 1023px) {
    margin-bottom: 14px !important;
  }
}

.has_sub_menu .sub-dropdown-menu__wrapper.opened {
  opacity: 1;
  transition:
    opacity 0.3s ease-out,
    visibility 1s ease-out,
    transform 0.5s ease-out;
  transform: translate(-50%, 0);
  height: max-content;
  visibility: visible;
  @include mdq(xs-md) {
    opacity: inherit;
    transform: inherit;
    visibility: inherit;
  }
}
.has_sub_menu .main-menu__icon.opened {
  transform: rotate(180deg);
}
.has_sub_menu {
  .dropdown-menu__list {
    @media screen and (min-width: 1024px) {
      padding-top: 5px;
    }
  }
}
